/.lock-waf*
/.waf*
*.bin
*.d
*.dfu
*.dll
*.elf
*.exe
*.hex
*.lst
*.o
*.obj
*.pyc
*.tlog
*.tlog.raw
*.vbrain
*.vrx
*.zip
*~
.*.swo
.*.swp
.DS_Store
.autotools
.built
.context
.cproject
.depend
.directory
.metadata/
.project
.settings/
.tags
.tags_sorted_by_file
.vagrant
Make.dep
Thumbs.db
build
cmake_install.cmake
config.mk
cscope.in.out
cscope.out
cscope.po.out
dataflash.bin
eeprom.bin
index.html
logs/
mav.log
mav.log.raw
mav.parm
module.mk
serialsent.raw
status.txt
tags
rootfs/
